<!-- Custom class to create appropriate padding -->
<div class="container-wrapper">
	<div class="contact container">
		<h1>Contact Us</h1>	
		<p>Need help?  Get in touch!</p>
	</div><!-- /.container-wrapper-->
</div><!--  /.container-->
