// Place all the styles related to the dishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dishes {
  margin: 0 auto;
}

.box {
	margin: 5px;
	width: 214px;
}

.box img {
	width: 100%
}

.boxMeta {
	padding: 6px 14px 7px;
	background: #ffffff;
}

.boxCredits {
	border-top: 1px solid #95a5a6;
	background: #ffffff;
	padding: 6px 14px 7px;
}

.boxCredits .btn {
	color: #f47673;
}