<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<%= link_to "Facebook","http://www.Facebook.com", :target=>"_blank"%>
			</div>
			<div class="col-sm-3">
				<%= link_to "Twitter","http://www.Twitter.com", :target=>"_blank"%>
			</div>
			<div class="col-sm-3">
				<%= link_to "Google+","http://www.plus.google.com", :target=>"_blank"%>
			</div>
			<div class="col-sm-3">
				<%= link_to "Foursquare","http://www.Foursquare.com", :target=>"_blank"%>
			</div>
		</div>
	</div>
</div>